<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BostonHousePrice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color:#EE9413;">

<div align="center">
    <h1>As per your requirement House Price is {{ predi }}</h1>
    <br>
    <br>
    <a href="/"> go back to home</a>
    <br>
    <br>
    <a href="https://www.linkedin.com/in/vipul-shukla-143b7918b/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:38px;color:blue"></i></a>
    &nbsp; &nbsp; <a href="https://github.com/tincharlie/" target="_blank"><i class="fa fa-github" style="font-size:36px"></i></a>
</div>

</body>
</html>