<!-- contact.html -->

{% include 'header.html' %}

<!-- Content specific to contact.html -->
<div class="text-box">
    <h1>Contact</h1>
    </div>
        </section>
    
    <!-------Contact us--------->
    <section class="location">
    
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d946093.5446993982!2d78.26693846958337!3d22.138252991292365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd56891cd199601%3A0x4619fc29e40a760!2sChhindwara%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1622125370347!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        
    
    </section>
    
    
    <section class="contact-us">
        <div class="row">
            <div class="contact-col">
                <div>
                    <i class="fa fa-home"> </i>
                    <span>
                        <h5>Ward no.3, Near Post office, Chourai, Chhindwara, M.P.</h5>
                    </span>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <span>
                        <h5>+918827737370</h5>
                        
                    </span>
                </div>
                <div>
                    <i class="fa fa-envelope-o"> </i>
                    <span>
                        <h5>vipulshukla999@gmail.com</h5>
                    </span>
                </div>
                <div>
                    <i class="fa fa-linkedin-square"></i>
                    <span>
                        <a href="https://linkedin.com/in/vipul-shukla-143b7918b" target="blank">
                            <h5>LinkedIn Profile</h5>
                        </a>
                    </span>
                </div>
                <div>
                    <i class="fa fa-github"></i>
                    <span>
                        <a href="https://github.com/tincharlie/tincharlie" target="blank">
                            <h5>Github Profile</h5>
                        </a>
                    </span>
                </div>
    
            </div>
        </div>
    </section>

{% include 'footer.html' %}
