<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
	<title>Prediction</title>
    <link rel="stylesheet" type="text/css" href="static/new.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"></head>
<body class="body">
<h1>Predict profit on the basis of RND and MKT</h1>
<form action="/proj1pred" method="POST">
<h2><label for="RND">Amount Spent in RND</label>
<input type="text" id="RND" name="RND">btw:[0-300000]</h2><br>
<h2><label for="MKT">Amount Spent in MKT </label>
<input type="text" id="MKT" name="MKT">btw:[0-200000]</h2><br>
<input style="color: green; marginleft : 10%" type="submit" value="Submit" >
</form>
</body>
</html>