<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="with=device-width, initial-scale=1.0">
	<title>Portfolio</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<section class="header" >
			<nav >
				<a href="{{ url_for('index') }}"> <img src="static/pics/user1.jpg" class="logo"></a>
				<div class="nav-links" id="navLinks">
				   <i class="fa fa-times" onclick="hideMenu()"></i>
					<ul class="unorder-col">
						<li><a href="{{ url_for('index') }}">HOME</a></li>
						<li><a href="{{ url_for('contact') }}">CONTACT</a></li>
						<li><a href="{{ url_for('projects') }}">PROJECTS</a></li>
					</ul>
				</div>
			   <i class="fa fa-bars" onclick="showMenu()"></i>
			</nav>

<div class="text-box">
	<h1>Projects</h1>
	<p> Here I have added my project that you see and use it.</p>
</div>
</section>


 <!--------Projects--------->
<section class="projects">
	<h1> Projects</h1>

	<div class="row">
		<div class="projects-col">
			<img src="static/pics/movie.jpg">
			<a href="https://github.com/tincharlie/Movie_Clustering" target="_blank" style="color:black">
				<h3>Movie Recommender</h3>
			</a>
			<p>
				•	Used 5000 movies dataset to get the best 5 related movies.<br>
				•	Due to much content many categorical columns were used.<br>
				•	Identified necessary columns for prediction and most occurring.<br>
				•	Converted some string to list for ease of use.<br>
				•	Fetched the names of the actors and details. A function for fetching a job for director was also created.<br>
				•	Converted words to lower case and in split format i.e. preprocessed data.<br>
				•	Created all the movie tags which were converted by using vectorizer. <br>
				•	Created corpus by merging all columns as a dictionary.<br>
				•	Movie to movie distance was found through cosine distance for related movies.<br>
				•	Built a function that gave best result and made a prediction to similar ones.
				</p>
	 	</div>
	 <div class="projects-col">
			<img src="static/pics/laon.jpg">
			<a href=" https://github.com/tincharlie/loan_eligibility_prediction" target="_blank" style="color:black">
				<h3>Credibility for Loan</h3>
			</a>
				<p>
				•	Performed “Classification and Regression Analysis” on Dataset “training-testing.csv”.<br>
				•	Made plots charts showing the relation between categorical and continuous columns.<br>
				•	Applied Minmaxscaler on the dataset for conversion from higher magnitude values to standard magnitude values and One hot encoding for categorical data. <br>
				•	Used grid search cv technique to get the best params by using classification and regression algorithms.<br>
				•	Got the lesser mean absolute error for the regression analysis. All the predicted (yes) columns were taken in the regression analysis and used from the same testing dataset.<br>
				•	Applied Logistic Regression, Decision tree, AdaBoost and Random forest to compare between Algorithms forobtaining better accuracy.<br>
				•	Predicted Loan amount eligibility of a customer.
				</p>
	 </div>
	 <div class="projects-col">
			<img src="static/pics/newscls.jpg">
			<a  href="https://github.com/tincharlie/News_recommendation" target="_blank" style="color:black">
				<h3>News Clustering</h3>
			</a>
			<p> •	Performed web scrapping to get articles from news website.<br>
				•	Created categorical data for preprocessing further steps. In all the articles special words were removed and converted to lower or upper case.<br>
				•	Performed processes before training the model, that is, data profiling, data preprocessing and exploratory data analysis.<br>
				•	Applied stemming and lemmatizing with the help of nltk library. All words were converted into small letters and were also splitted.<br>
				•	Performed feature generation for all words using tfidf. To get preprocessed data in the form of One Hot feature. <br>
				•	On K-means cluster, preprocessed columns on every word were passed to make clusters of news.<br>
				•	Used NMF Non Negative matrix factorization for two matrices.<br>
				•	At the end, the result created clusters in form of tagging of news topics.<br>
				</p>
	</div>
	</div>
	<div class="row">
		<div class="projects-col">
			<img src="static/pics/50start.jpg">
<!--			<a href="https://normal-startup.herokuapp.com/" target="_blank" style="color:black">-->
			<a href="/50Startup" target="_blank" style="color:black">

				<h3>50 Startup Analysis </h3>
			</a>
			<p>
				•	Explored columns which are good predictors. <br>
				•	Used Correlation and describe function for analysis. <br>
				•	Cleaned data and preprocessed for prediction.<br>
				•	Compared Visuals and OLS to get best predictors and used box plot, scatter plot and distribution plot for analysis. <br>
				•	Made pickle and file for deploying the model in any server.<br>
				•	Made html templates for uploading in server and chrome.<br>
				•	Used different Algorithms such as Simple Linear Regression and Multiple Linear Regression.<br>
				•	Web server for deploying model on heroku server.<br>
				•	Created profile and requirements file which contain the important libraries for deployment of the model.<br>

				</p>
	 </div>
	 <div class="projects-col">
		<img src="static/pics/cartype.jpg">
		<a href="https://github.com/tincharlie/Car_Type_Prediction" target="_blank" style="color:black">
			<h3>Car Type Prediction  </h3>
		</a>
		<p> •	Performed “Classification Analysis” on Dataset “Cars93”.<br>
			•	Type column was used for prediction. <br>
			•	Created Univariate and Bivariate function for visualization.<br>
			•	Handled all the missing values in dataset and found all unique columns to analyse the predictors.<br>
			•	Used Anova(Analysis of Variance) to select better columns as a predictor for categorical and continuous columns.<br>
			•	Applied cross tabulation to find the relationship between categorical columns, chi-square was used for finding all best values. <br>
			•	Trained the model by, data profiling, data preprocessing and exploratory data analysis.<br>
			•	Some of the values were not in Standard form. Data was preprocessed using standard scaler for continuous and One hot encoding for categorical columns.<br>
			•	Converted categorical variables into dummy variables.<br>
			•	Logistic Regression gave best accuracy model.
		</p>
 </div>
 <div class="projects-col">
	<img src="static/pics/fifaeda.jpg">
	<a href="https://github.com/tincharlie/EDA_fifa" target="_blank" style="color:black">
		<h3>Fifa Data Analysis </h3>
	</a>
	<p>
		•	Finding Indian FIFA team players with different kinds of quality.<br>
		•	Analysis of all clubs, names, jersey number, contract, and position of top player with overall performance.<br>
		•	On the basis of any columns, used describe to know mean, count, min-max values in the dataset in each column.<br>
		•	Find all the missing values which can be replaced without affecting the dataset.<br>
		•	Applied mean, median and mode for replacing Nan values in the curved, volleys, skill moves and columns.<br>
		•	Created functions for defending, general, shooting etc. for finding overall mean.<br>
		•	Compared preferred and week foot of different players and plotted international reputation on pie chart.<br>
		•	Identified youngest and eldest players in FIFA team players. <br>
		•	Converted categorical variables into dummy variables.<br>
		•	Used Bar, Pie, Line, Distribution etc. plots for Data Visualization.

		</p>
	</div>
		</div>
<div class="row">
		<div class="projects-col">
		<img src="static/pics/fifaeda.jpg">
		<a href="/bostproj" target="_blank" style="color:black">
			<h3>Boston House Price Prediction</h3>
		</a>
		<p>
			•	Here I found all the best predictor.<br>
			•	After doing all the analysis of features.<br>
			•	Just around 7 features I got successfully that we can use it for prediction.<br>
			•	Replaced lots of null values are present in the best cols.<br>
			•	Median maen and mode used to replace the respective values of catergories.<br>
			•	Convert the categorical to continous values.<br>
			•	So all the values must in the standardized or normalized way.<br>
			•	Used standard scaler to come the values in some sort of same range.
		</p>
		</div>
	</div>


</section>
</body>
</html>